[package]
name = "sidereal-net"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
sidereal-core = { path = "../sidereal-core" }
