[package]
name = "sidereal-bg-sim"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
sidereal-sim-core = { path = "../../crates/sidereal-sim-core" }
