[package]
name = "sidereal-persistence"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
sidereal-core = { path = "../sidereal-core" }
thiserror.workspace = true
