[package]
name = "sidereal-tools"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
sidereal-core = { path = "../../crates/sidereal-core" }
